
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<img src='images/logo.png' width='100'/>
  </div>
</div>
<div class="container">
  <h1><%= title %></h1>
	<br/>
<h2>Wildfires</h2>
	<a href='/fires'><img src='/images/wildfires.jpeg' width='150' /></a>
	<br/>
<h2>Floods</h2>
	<a href='/floods'><img src='/images/floods.jpeg' width='150' /></a>
	<br/>
<h2>Snow/Frost</h2>
	<a href='/snow'><img src='/images/snow_cover.jpeg' width='150' /></a>
	<br/>
<h2>Earthquakes</h2>
	<a href='/quakes'><img src='/images/quakes.jpeg' width='150' /></a>
	<br/>

</div>