csv/
*.pem
DS_Store
tmp/
data/ 
data/.DS_Store
data/HAND/
data/HydroSHEDS/
data/landsat8/
data/eo1_ali/
data/l8/
data/frost/
data/digiglobe/
data/osm/*.osm
data/osm/*.bz2
data/radarsat2/
data/modis/
data/eo1/
data/dfo/
data/palsar2/
data/viirs/
data/viirs2/
data/viirs_chla/
data/aspera/
data/ef5/
data/maxq/
data/maxswe
data/sm/
data/modis_burnedareas/
python/world_boundaries/
envs.sh
node/node_modules/
node/transifex.auth
node/*.log
python/*.pyc
python/.DS_Store
python/rcmrd
