data/HAND/
data/HydroSHEDS/CA/
data/landsat8/
data/eo1_ali/
data/l8/
data/osm/*.bz2
data/radarsat2/
data/modis/
data/eo1/
data/dfo
python/world_boundaries/
envs.sh
node/node_modules/
node/*.log
python/*.pyc
