
<div class="container">
	<h1>Contact </h1>
	
	<div class="row col-md-6">
	
		<pre>
		For More Information, Please Contact:
		Pat Cappelaere
		
		Phone: 410-340-4868
		
		Email: <a href='mailto:pat@cappelaere.com'>pat@cappelaere.com</a>
		</pre>		
	</div>
</div>

