<div class="container">
	<h2>Flood Map Products</h2>

	<div class="row col-md-6">
		<ul>
			<li><a href='/products/l8/list'>Landsat-8</a></li>
		    <li><a href='/products/modis/list'>MODIS</a></li>
			<li><a href='/products/eo1_ali/list'>EO-1 ALI</a></li>
			<li><a href='/products/radarsat2/list'>Radarsat-2</a></li>
			<li><a href='/products/dfo/list'>Dartmouth Flood Observatory</a></li>
			
			<li><i>ALOS-2</i></li>
			<li><i>Sentinel-1</i></li>
			<li><i>COSMO-SkyMED</i></li>
			<li><i>TanDEM-X</i></li>
			<li><i>TerraSAR-X</i></li>
			
		</ul>
	</div>
</div>
