<div class="container">
	<h2>Flood Map Products</h2>

	<div class="row col-md-6">
		<ul>
			<li><a href='/products/landsat8'>Landsat 8</a></li>
			<li><a href='/products/radarsat2'>Radarsat-2</a></li>
		    <li><a href='/products/modis'>MODIS</a></li>
		    <!--
				<li><a href='/products/eo1'>EO-1</a></li>
			-->
		</ul>
	</div>
</div>
