<div class='container'
	<h1>PRIVACY STATEMENT</h1>

	<b>We respect your privacy!</b>

	<p>It is our policy not to share or sell any information you provide us.</p>

	<b>Your Information</b>

	<p>
	Our Web site may contain several contact forms and links that allow visitors to interact with our system. 
	These may require personal information so that we can respond to requests efficiently - especially if the response entails the use of U.S. mail or another courier.
	We may also use that information to measure the societal benefits of the provided science data.
	The information we collect is used only to respond to specific requests. We may retain this information but do not use it for any other purpose.
	</p>

	<b>Cookies</b>

	<p>Periodically we may use cookies to collect non-personally identifiable information. 
	This helps us detect things such as browser type and plug-ins, and navigational information regarding which pages visitors go to and when. 
	The information we collect through cookies is used only to respond to specific requests. We may retain this information but do not use it for any other purpose.</p>

	<p>If you have any questions about this policy, please contact us by email, mail, phone, or fax.</p>
</div>