<h2>EF5 Soil Moisture Map Info </h2>

<div class='container'>
	<div class='row'>
	<%- html %>
	</div>

	<div class='row'>
		Style:<pre>
		<%= JSON.stringify(style, null, "\t") %>
		</pre>
	</div>

	<div class='row'>
	Credits: <pre>
	<%= JSON.stringify(credits, null, '\t') %>
	</pre>
	</div>
</div>